<!doctype html>
<html lang="en">
<head>
    <%- include app/templates/partials/head %>

</head>
<body>
    <%- include app/templates/partials/navigation %>
    <div class="container">
        <div class="row my-3">
            <div class="col">
                <h1>Leaderboard</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">User</th>
                            <th scope="col"># asked</th>
                            <th scope="col"># answered</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="align-middle">1</th>
                            <td class="align-middle"><img class="rounded-circle inline-img" src="/assets/images/profile.jpg">James Bond</td>
                            <td class="align-middle">120</td>
                            <td class="align-middle">34</td>
                        </tr>
                        <tr>
                            <th class="align-middle">2</th>
                            <td class="align-middle"><img class="rounded-circle inline-img" src="/assets/images/profile.jpg">Bud Spencer</td>
                            <td class="align-middle">111</td>
                            <td class="align-middle">14</td>
                        </tr>
                        <tr>
                            <th class="align-middle">3</th>
                            <td class="align-middle"><img class="rounded-circle inline-img" src="/assets/images/profile.jpg">Superman</td>
                            <td class="align-middle">45</td>
                            <td class="align-middle">0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</body>
</html>
