@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "~trix/dist/trix";
@import "~select2/dist/css/select2";
$theme-colors: (
    "primary": pink,
    );

.inline-img {
    max-height: 2em;
    margin: 0 0.5em;
}

.or {
    font-size: 5em;
    font-weight: bold;
    text-align: center;
}

.answer-container {
    text-align: center;
    .answer-text {
        font-size: 2em;
    }
    .answer-percentage {
        font-size: 5em;
    }
}
