@import "custom";
@import 'bootstrap/scss/bootstrap';


.create-avatar-input {
  width: 120px;
  height: 120px;
  background-color: white;
  background-image: url('./icons/person.svg');
  background-size: 32px 32px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #ced4da;
}

button {
  cursor: pointer;
}

.or {
    font-size: 5em;
    font-weight: bold;
    text-align: center;
}

.answer-container {
    text-align: center;
    .answer-text {
        font-size: 2em;
    }
    .answer-percentage {
        font-size: 5em;
    }
}

.pointer {
  cursor: pointer;
}

.user-image {
    background-size: cover;
    float: left;
    height: 1.5em;
    margin-right: 0.3em;
    width: 1.5em;
}
